[submodule "vendor/github.com/mvdan/sh"]
	path = vendor/github.com/mvdan/sh
	url = https://github.com/mvdan/sh.git
[submodule "vendor/mvdan.cc/sh"]
	path = vendor/mvdan.cc/sh
	url = https://github.com/mvdan/sh.git
